<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Slaves" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  
  <appSettings>
    <add key="FileName" value="D:/MyFileName.txt" />
    <add key="MasterIP" value="127.0.0.1" />
    <add key="MasterPort" value="1000" />
  </appSettings>
   
  <Slaves 
    slavesNum ="3"
    slave0="127.0.0.2 1001" 
    slave1="127.0.0.3 1002"                  
    slave2="127.0.0.4 1003" />
  
  <system.diagnostics>
    <switches>
      <add name="LogEnabled" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>
